{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block content %}
<main>
    <section>
        <h1>À propos de moi</h1>
        <p>Je suis développeur web et web mobile...</p>
    </section>
</main>
{% endblock %}
