{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Mes Réalisations</h1>
        <div class="projects-list">
            <article>
                <img src="" alt="">
                <h2>nom du projet 1</h2>
                <p>Une petite description sur le projet 1</p>
            </article>
            <article>
                <img src="" alt="">
                <h2>nom du projet 2</h2>
                <p>Une petite description sur le projet< 2/p>
            </article>
        </div>
    </section>
</main>
{% endblock %}
