{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block content %}
<main>

    <header class="hero">
        <h1>Bienvenue sur mon portfolio</h1>
        <p>Développeur Web & Web Mobile</p>
    </header>

</main>
{% endblock %}
